.outer {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.wrapper {
  width: 600px;
  padding: 20px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  margin: 10px;
  min-height: 300px;
}

.centerContent {
  composes: wrapper;
  display: flex;
  justify-content: center;
  align-items: center;
} 